.kuik-tree {
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
}


.tree-title {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    position: relative;
}
.tree-title:hover {
    background: rgba(0,0,0,.2);
}

.tree-item-child {width: 100%;}

.tree-item-child > li {
    list-style: none;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 35px;
    font-size: 12px;
}

.icon-box {
    width: 20px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

